<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="username">Enter name </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: brown" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" >Name error</div>
    <br/>
    <label for="grade">Enter grade </label>
    <input type="text" th:field="*{grade}" id="grade"/>
    <div style="color: brown" th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}" >Grade error</div>
    <br/>
    <label for="email">Enter email </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: brown" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >Email error</div>
    <br/>
    <hr/>
    <label for="roles">Enter role </label>
    <input type="text" th:field="*{roles}" id="roles"/>
    <div style="color: brown" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" >Roles error</div>
    <br/>
    <hr>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <hr>
    <input type="submit" value="Update">
</form>

</body>
</html>